.arrow {
    padding: 0;
    background: rgb(12, 192, 123);
    border-radius: 15px;
    font-size: 20px;
    line-height: 25px;
    color: rgb(247, 9, 9);
    display: block;
  }
  
  .arrow:focus {
    outline: none;
  }
  
  .arrow:hover {
    background: rgb(17, 2, 2);
    cursor: pointer;
  }
  
  ul {
    height: 200px;
    width: 9999px;
    margin: 10;
    padding: 10;
    list-style: none;
    font-size: 10;
  }

  ul li {
    display: inline-block; 
  }
  
  ul img {
    width: 250px;
    height: 100px;
    display: block;
  }
  