body{
display:flex;
}

.game-container {
    width: 500px;
    height: 700px;
    Position: absolute;
}

.sky{
    background-color: aqua;
    width: 500px;
    height: 580px;
    Position: absolute;
}
.ground{
    background-color: burlywood;
    width: 500px;
    height: 150px;
    Position: absolute;
    top:auto;
}

.bird{
    background-color: rgb(230, 13, 13);
    width: 50px;
    height: 50px;
    Position: absolute;
}
.obstacle{
    background-color: rgb(23, 109, 11);
    width: 50px;
    height: 250px;
    Position: absolute;
}
.topObstacle {
    background-color: rgb(23, 109, 11);
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }

  .ground-container {
      height: 150px;
      width: 580px;
      left: 80px;
      position:  absolute;
  }
  
  .ground-moving {
    position: absolute;
    top: 580px;
    height: 150px;
    background-image: url('bottom-background.png');
    background-repeat: repeat-x;
    animation: slideright 100s infinite linear;
    -webkit-animation: slideright 100s infinite linear;
    width: 100%;
    z-index: +1;
  }