h1 {
  text-align:  center;
  font-size: 2rem;
  color : white;
  font-weight: 10;
  width: 120%;
  margin: 10px 0;
  padding: 50px;
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  min-width: 200px;
  margin: 4 auto;
  background-color: #6091C3;
}


.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 900px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  width : 50% 
}
.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 0px;
  font-weight: 100;
  letter-spacing: .09em;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 220px;
  max-width: 320px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 8px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 245px;
}





